/Lab1LAWx/build/
/Lab1LAWx/dist/
/Lab1LAWx/nbproject/private/
/Lab1LAW/nbproject/private/
/Lab1LAW/build/
/Lab1LAW/dist/
/Quiz1/nbproject/private/
/Quiz1/build/
/Quiz1/dist/
/Tutorial2/nbproject/private/
/Tutorial2/dist/
/Tutorial2/build/
/Quiz3Cookies/nbproject/private/
/Quiz3Cookies/build/
/Quiz3Cookies/dist/
/Quiz4Cookies/nbproject/private/
/Quiz3Session/nbproject/private/
/Quiz3Session/build/
/Quiz3Session/dist/