/Lab1LAWx/build/
/Lab1LAWx/dist/
/Lab1LAWx/nbproject/private/
/Lab1LAW/nbproject/private/
/Lab1LAW/build/
/Lab1LAW/dist/
/Quiz1/nbproject/private/
/Quiz1/build/
/Quiz1/dist/
/Tutorial2/nbproject/private/
/Tutorial2/dist/
/Tutorial2/build/